/* 
Cor de fundo da página
*/
body{
    background-color: #F8F8FF;
}
/* -------------------------- */

/* 
Estilizando o Topo
*/
#topo{
    width: 102%;
    height: 40px;
    background-color: #000000;
    margin-top: -8px;
    margin-left: -8px;
}
/* -------------------------- */

/*
Estilzando o menu
*/
menu{
    width: 102%;
    height: 100px;
}
/* -------------------------- */

/*
Estilizando a Nav
*/
nav{
    width: 102%;
    height: 50px;
    margin-left: -8px;
}

hr{
    border: 2px solid #000000;
}

#nav-inferior{
    width: 102%;
    height: 30px;
    margin-left: -8px;
    background-color: #696969;
}
/* -------------------------- */

/* 
Estilizando o Min centro da página
*/
main{
    width: 102%;
    height: auto;
}
/* -------------------------- */

/* 
Estilizando o Footer rodapé da página
*/
footer{
    width: 102%;
    height: 300px;
    margin-left: -8px;
    background-color: #696969;
}
/* -------------------------- */